

/* 
h1{
    text-align: center;
    text-decoration: underline;
    color:blueviolet;
    font-family: cursive;
}
p{
    font-size: large;
}  */
h1{
    text-align: center;
    text-decoration: underline;
    color:blueviolet;
    font-family: cursive;
}
p{
    font-size: large;
}