nav {
    background-color: #282A35;
    padding: 15px;
}

li {
    display: inline;
    color: white;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    cursor: pointer;
}

button {
    background-color: #282A35;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    font-weight: 10px;
    cursor: pointer;
border:none;
width: 20%;

}